<!DOCTYPE html>
<html>
  <head>
    <!-- <meta http-equiv="refresh" content="2" /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/@videojs/themes@1/dist/city/index.css"
      rel="stylesheet"
    />
    <link href="http://192.168.1.103:5000/tailwind.css" rel="stylesheet" />
  </head>

  <body>
    <!-- main body -->
    <div class="grid md:grid-cols-4 place-items-center md:place-items-start p-5 gap-5 bg-gradient-to-r from-green-400 to-blue-500 min-h-screen">
      <!-- video frame -->
      <div class="!w-full md:col-span-3 border-b-2 border-gray-300 pb-1.5 md:border-0">
        <video
          id="video"
          class="
            video-js
            vjs-theme-city
            fullhd
            !w-full
            h-auto
            !rounded-lg
            overflow-hidden
          "
          preload="auto"
          controls
        >
          <source
            type="application/x-mpegURL"
            src="http://192.168.1.103:5000/videos/2021-07-28_20-22-23.m8u3"
          />
        </video>
        <!-- video title -->
        <div
          id="title"
          class="
            pt-4
            font-semibold
            text-xl
            pl-0.5
            overflow-hidden
            w-[85vw]
            md:w-full
          "
        >
          Choose a video
        </div>
      </div>
      <!-- video selection list -->
      <div
        id="selection"
        class="z-0 grid grid-cols-1 gap-7 md:pt-0 w-full relative"
      ></div>
    </div>

    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    <script src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>
    <script>
      let player = videojs("video", { liveui: true, fluid: false });
      let boxes = document.getElementById("selection");
      let title = document.getElementById("title");

      let request = new XMLHttpRequest();
      request.open("GET", "http://192.168.1.103:5000/list");
      request.responseType = "json";
      request.send();

      request.onload = function () {
        const datas = request.response;
        console.log(location.host);

        datas.forEach((element) => {
          let node = document.createElement("button");
          node.textContent = element["name"];
          node.setAttribute(
            "class",
            "bg-white shadow-md rounded-lg overflow-hidden h-16"
          );
          node.addEventListener("click", () => {
            // change the source by clicking
            title.textContent = node.textContent;

            player.src({
              type: "application/x-mpegURL",
              src: "http://192.168.1.103:5000/videos/" + element["name"],
            });
          });
          boxes.appendChild(node);
        });

        if (!datas.length) {
          // if list is empty
          let node = document.createElement("div");
          node.setAttribute(
            "class",
            "bg-blue-500 h-16 shadow-md rounded-2xl grid grid-cols=1 place-items-center text-3xl"
          );
          node.textContent = "NO VIDEO FOUND";
          boxes.appendChild(node);
        }
      };
    </script>
  </body>
</html>
