<!DOCTYPE html>
<html>
  <head>
    <!-- <meta http-equiv="refresh" content="2" /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/@videojs/themes@1/dist/city/index.css"
      rel="stylesheet"
    />
    <link href="/tailwind.css" rel="stylesheet" />
  </head>

  <body>
    <!-- main body -->
    <div
      class="
        grid
        md:grid-cols-4
        place-items-center
        md:place-items-start
        p-5
        gap-5
        bg-gradient-to-r
        from-green-400
        to-blue-500
        min-h-screen
      "
    >
      <!-- video frame -->
      <div
        class="
          !w-full
          md:col-span-3
          border-b-2 border-gray-300
          pb-1.5
          md:border-0
        "
      >
        <video
          id="video"
          class="
            video-js
            vjs-theme-city
            fullhd
            !w-full
            h-auto
            !rounded-lg
            overflow-hidden
          "
          preload="auto"
          controls
        >
          <source
            type="application/x-mpegURL"
            src="/videos/2021-07-28_20-22-23.m8u3"
          />
        </video>
        <!-- video title -->
        <div id="title" class="video-title">Choose a video</div>
      </div>
      <!-- video selection list -->
      <div
        id="selection"
        class="grid grid-cols-1 gap-7 md:pt-0 w-full relative"
      ></div>
    </div>

    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    <script src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
